*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
html ::-webkit-scrollbar {
  width: 0;
  display: none;
}
html ::-webkit-scrollbar-thumb {
  display: none;
}

:root {
  --ff-first: "Poppins", sans-serif;
  --ff-second: "Roboto", sans-serif;
  --ff-third: "Inter", sans-serif;
  --ff-four: "Manrope", sans-serif;
  --fw-one: 700;
  --fw-two: 600;
  --fw-three: 500;
  --fw-four: 400;
  --fw-three: 300;
  --fs-one: 22px;
  --fs-second: 16px;
  --fs-third: 48px;
  --fs-fourth: 38px;
  --fs-fifth: 36px;
  --fs-sixth: 28px;
  --fs-seventh: 15px;
  --fs-eight: 20px;
  --fs-nine: 14px;
  --fs-ten: 18px;
  --fs-eleven: 24px;
  --lh-one:33px;
  --lh-second: 24px;
  --lh-third: 21px;
  --lh-fourth: 57.84px;
  --lh-fifth:36px;
  --lh-sixth: 28px;
  --clr-first: #3E3E3E;
  --clr-second:#FFFFFF;
  --clr-third: #0A0826;
  --clr-fourth:#3F87F5;
  --clr-footer:#0B0D17;
  --clr-hot: #FF4E4E;
  --clr-bg:#E5E5E5;
  --clr-gr: #073200;
  --clr-ye: #827742;
  --clr-or: #A33E06;
  --clr-br: #D5E5FB;
  --clr-btn: ##F496D1;
  --mrg-below: 100px;
}

body {
  background-color: var(--clr-second);
}

.navbar {
  background-color: var(--clr-second);
  padding-top: 40px;
  padding-bottom: 33px;
}

.navbar-brand {
  font-family: var(--ff-first);
  font-weight: var(--fw-one);
  font-size: var(--fs-one);
  line-height: var(--lh-one);
  color: var(--clr-first);
}

.nav-item a {
  font-family: var(--ff-first);
  font-size: var(--fs-second);
  font-weight: var(--fw-three);
  line-height: var(--lh-second);
  color: var(--clr-first);
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: var(--fs-nine);
    line-height: var(--lh-third);
  }
}
.commonbottom {
  margin-bottom: var(--mrg-below);
}

.firstdiv {
  height: 584px;
  background-image: url(../images/First.png);
  background-position: center;
}

.seconddiv {
  height: 584px;
  background-image: url(../images/Second.png);
  background-position: center;
}

.thirddiv {
  height: 584px;
  background-image: url(../images/Third03.png);
  background-position: center;
}

.forthdiv {
  height: 584px;
  background-image: url(../images/Third.png);
  background-position: center;
}

.carousel-caption {
  text-align: center;
  margin-bottom: 0px;
}

.carousel-caption h2 {
  width: 639px;
  font-size: var(--fs-third);
  font-weight: var(--fw-two);
  line-height: var(--lh-fourth);
  color: var(--clr-second);
  text-align: center;
  margin-inline: auto;
}

.carousel-caption .jcolor {
  color: var(--clr-gr);
}

.carousel-caption .ocolor {
  color: var(--clr-or);
}

.carousel-caption p {
  width: 456px;
  font-size: var(--fs-second);
  font-weight: var(--fw-three);
  line-height: var(--lh-second);
  color: var(--clr-second);
  text-align: center;
  margin-inline: auto;
}

.btn {
  width: 168px;
  background-color: var(--clr-second);
  margin-bottom: 32px;
}

.btn a {
  background-color: var(--clr-second);
  color: var(--clr-fourth);
  text-decoration: none;
  font-family: var(--ff-first);
  font-size: var(--fs-second);
  line-height: var(--lh-second);
  font-weight: var(--fw-one);
}

.carousel-indicators .line {
  height: 5px;
  width: 68px;
}

@media (max-width: 767px) {
  .carousel-caption h2 {
    width: 320px;
    font-size: var(--fs-eleven);
    font-weight: var(--fw-two);
    line-height: var(--lh-fifth);
    text-align: center;
    margin-inline: auto;
  }

  .carousel-caption p {
    width: 327px;
    font-size: var(--fs-second);
    font-weight: var(--fw-three);
    line-height: var(--lh-second);
    color: var(--clr-second);
    text-align: center;
    margin-inline: auto;
  }
}
.gate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.gate .btnn {
  width: 238px;
  height: 44px;
}

.pricecard {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  height: 387px;
  width: 232px;
  background-color: var(--clr-second);
  border-radius: 20px;
}
.pricecard ul {
  list-style-type: none;
  list-style-position: outside;
  list-style-image: url(../images/list.png);
}
.pricecard button {
  width: 207px;
  height: 45px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(250, 240, 241);
}
.pricecard button a {
  text-decoration: none;
}

.premiumcard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
  align-items: left;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 30px;
  height: 480px;
  width: 292px;
  background-color: var(--clr-fourth);
  border-radius: 20px;
}
.premiumcard button {
  width: 207px;
  height: 45px;
  border: none;
  border-radius: 20px;
  text-align: center;
  background-color: rgb(250, 240, 241);
}
.premiumcard button a {
  text-decoration: none;
}

.clientcard {
  height: 323px;
  width: 360px;
  background-color: var(--clr-second);
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 20px rgb(236, 236, 236);
  padding-top: 21px;
}
.clientcard p {
  width: 252px;
  margin-inline: auto;
}
.clientcard img {
  padding: 10px;
}

.accordion-item {
  background-color: var(--clr-second);
  border: 1px solid var(--clr-br);
}

.accordion-button {
  background-color: var(--clr-second);
  border: 1px solid var(--clr-br);
}

.footer {
  height: 280px;
  background-color: var(--clr-footer);
  margin-top: 50px;
}

.buttonimage {
  width: 133.26px;
  height: 38.26px;
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.getapp {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.getapp h6 {
  margin-right: 34px;
  color: var(--clr-second);
  font-family: var(--ff-four);
  font-size: var(--fs-ten);
  font-weight: var(--fw-three);
  line-height: var(--lh-sixth);
}

.copyright {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}/*# sourceMappingURL=style.css.map */