*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}
html ::-webkit-scrollbar {
  width: 0;
  display: none;
}
html ::-webkit-scrollbar-thumb {
  display: none;
}

:root {
  --ff-first: "Poppins", sans-serif;
  --ff-second: "Roboto", sans-serif;
  --ff-third: "Inter", sans-serif;
  --ff-four: "Manrope", sans-serif;
  --fw-one: 700;
  --fw-two: 600;
  --fw-three: 500;
  --fw-four: 400;
  --fw-three: 300;
  --fs-one: 22px;
  --fs-second: 16px;
  --fs-third: 48px;
  --fs-fourth: 38px;
  --fs-fifth: 36px;
  --fs-sixth: 28px;
  --fs-seventh: 15px;
  --fs-eight: 20px;
  --fs-nine: 14px;
  --fs-ten: 18px;
  --fs-eleven: 24px;
  --lh-one:33px;
  --lh-second: 24px;
  --lh-third: 21px;
  --lh-fourth: 57.84px;
  --lh-fifth:36px;
  --clr-first: #3E3E3E;
  --clr-second:#FFFFFF;
  --clr-third: #0A0826;
  --clr-fourth:#3F87F5;
  --clr-footer:#0B0D17;
  --clr-hot: #FF4E4E;
  --clr-bg:#E5E5E5;
  --clr-gr: #073200;
  --clr-ye: #827742;
  --clr-or: #A33E06;
  --mrg-below: 100px;
}

body {
  background-color: var(--clr-bg);
}

.navbar {
  background-color: var(--clr-bg);
  padding-top: 40px;
  padding-bottom: 33px;
}

.navbar-brand {
  font-family: var(--ff-first);
  font-weight: var(--fw-one);
  font-size: var(--fs-one);
  line-height: var(--lh-one);
  color: var(--clr-first);
}

.nav-item a {
  font-family: var(--ff-first);
  font-size: var(--fs-second);
  font-weight: var(--fw-three);
  line-height: var(--lh-second);
  color: var(--clr-first);
}

@media (max-width: 360px) {
  .navbar-brand {
    font-size: var(--fs-nine);
    line-height: var(--lh-third);
  }
}
.commonbottom {
  margin-bottom: var(--mrg-below);
}

.firstdiv {
  height: 584px;
  background-image: url(../images/First.png);
  background-position: center;
}

.seconddiv {
  height: 584px;
  background-image: url(../images/Second.png);
  background-position: center;
}

.thirddiv {
  height: 584px;
  background-image: url(../images/Third03.png);
  background-position: center;
}

.forthdiv {
  height: 584px;
  background-image: url(../images/Third.png);
  background-position: center;
}

.carousel-caption {
  text-align: center;
  margin-bottom: 0px;
}

.carousel-caption h2 {
  width: 639px;
  font-size: var(--fs-third);
  font-weight: var(--fw-two);
  line-height: var(--lh-fourth);
  color: var(--clr-second);
  text-align: center;
  margin-inline: auto;
}

.carousel-caption .jcolor {
  color: var(--clr-gr);
}

.carousel-caption .ocolor {
  color: var(--clr-or);
}

.carousel-caption p {
  width: 456px;
  font-size: var(--fs-second);
  font-weight: var(--fw-three);
  line-height: var(--lh-second);
  color: var(--clr-second);
  text-align: center;
  margin-inline: auto;
}

.btn {
  width: 168px;
  background-color: var(--clr-second);
  margin-bottom: 32px;
}

.btn a {
  background-color: var(--clr-second);
  color: var(--clr-fourth);
  text-decoration: none;
  font-family: var(--ff-first);
  font-size: var(--fs-second);
  line-height: var(--lh-second);
  font-weight: var(--fw-one);
}

.carousel-indicators .line {
  height: 5px;
  width: 68px;
}

@media (max-width: 767px) {
  .carousel-caption h2 {
    width: 320px;
    font-size: var(--fs-eleven);
    font-weight: var(--fw-two);
    line-height: var(--lh-fifth);
    text-align: center;
    margin-inline: auto;
  }

  .carousel-caption p {
    width: 327px;
    font-size: var(--fs-second);
    font-weight: var(--fw-three);
    line-height: var(--lh-second);
    color: var(--clr-second);
    text-align: center;
    margin-inline: auto;
  }
}/*# sourceMappingURL=style.css.map */